.min-h-screen {
    min-height: 100vh;
    background: 
        linear-gradient(to bottom right, rgba(14, 165, 233, 0.65), rgba(99, 102, 241, 0.65));
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-card {
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}